*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    text-align: center;
    ;
}

#content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: (0px, auto);
    width: 100%;
    margin: 0;
    grid-gap: 10px;
    position: relative;
}

.heropanel {
    margin: 0px;
    grid-column: 0/13;
}

.heropanel img {
    background-color: red;
    width: 100vw;
    margin: 0px;
    filter: brightness(50%);
}

.heropanel h1 {
    margin: 135px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: white;
    z-index: 100;
}

.eventos {
    grid-row: 2;
    width: 100vw;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0px;
    height: 50px;
    background-color: #1fbfb8;
}

.eventos h2 {
    margin-top: 8px;
    vertical-align: middle;
}

.texto-eventos {
    grid-row: 3;
    margin: 40px 22px 25px;
    color: red;
    font-size: 18px;
}

.texto-eventos p {
    color: black;
    text-align: left;
    font-size: 25px;
}

.texto-eventos p1 {
    color: black;
    text-align: left;
    font-size: 25px;
}

.btneventos {
    border: none;
    grid-row: 4;
    width: 360px;
    height: 53px;
    font-size: 15px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: 0px auto 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    cursor: pointer;
}

.proximo {
    grid-row: 5;
    width: 100vw;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0px;
    height: 50px;
    background-color: #1fbfb8;
}

.proximo h2 {
    margin-top: 8px;
    vertical-align: middle;
}

.texto-proximo {
    grid-row: 6;
    margin: 40px 22px 25px 22px;
    color: red;
    font-size: 18px;
}

.texto-proximo p {
    color: black;
    text-align: left;
    font-size: 25px;
}

.btnproximo {
    border: none;
    grid-row: 7;
    width: 360px;
    height: 53px;
    font-size: 15px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: 10px auto 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    cursor: pointer;
}

.linea {
    grid-row: 5;
    width: 100vw;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0px;
    height: 50px;
    background-color: #1fbfb8;
}

.contenedor {
    position: relative;
}

.contenedor-imagen {
    position: absolute;
    top: -1%;
    right: 0%;
    width: 20%;
}

.contenedor-imagen2 {
    position: absolute;
    top: -1%;
    margin-left: 40px;
    left: 0%;
    width: 20%;
}

.img2 {
    width: 85%;
    animation: ilustrationAnimete2 ease 1s infinite alternate;
}

@keyframes ilustrationAnimete2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

.img {
    width: 85%;
    animation: ilustrationAnimete ease 1s infinite alternate;
}

@keyframes ilustrationAnimete {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

.Contenedor-textos {
    flex-basis: 50%;
    padding-left: 60px;
    margin-top: 30px;
    text-align: center;
}

.titulo {
    margin-top: 45px;
    font-size: 50px;
    top: 4%;
}

.subtitulo {
    font-size: 30px;
    margin: 2px 0px;
}

.texto-imagen {
    margin: 40px 24px 0px;
}

.texto-imagen img {
    margin: 0px;
    width: 100%;
    margin-top: 90px;
}

.texto-imagen p {
    color: black;
    font-size: 30px;
    text-align: left;
    margin: 25px 0px;
}