*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.heropanel {
    margin: 0px;
    grid-column: 0/13;
}

.heropanel img {
    background-color: red;
    width: 100vw;
    margin: 0px;
    filter: brightness(50%);
}

.heropanel h1 {
    margin: 135px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: white;
    z-index: 100;
}