*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Montserrat', sans-serif;
    background: #72e0db;
    min-height: 100vh;
    overflow-x: hidden;
    ;
}

.heropanel {
    display: flex;
    margin: 0px;
    align-items: center;
}

.heropanel img {
    background-color: red;
    width: 100vw;
    margin: 0px;
    filter: brightness(50%);
}

.heropanel h1 {
    margin: 135px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: white;
    z-index: 100;
}

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgb(250, 250, 250);
    margin-top: 100px;
    border-top: 10px solid #4182d6;
}

.contenedor img {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contenedor p {
    font-size: 19px;
    font-weight: 300;
    margin-top: 18px;
}

.contenedor2 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgb(250, 250, 250);
    margin-top: 100px;
    border-top: 10px solid #4cb87c;
}

.contenedor2 img {
    width: 300px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contenedor2 p {
    font-size: 19px;
    font-weight: 300;
    margin-top: 20px;
}

.tituloPadre {
    font-size: 40px;
    margin-bottom: 40px;
}

.subtituloPadre {
    font-size: 30px;
    font-weight: 400;
}