*, *::after, *::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.heropanel{
    display: flex;
    margin: 0px;       
    align-items: center;
    justify-content: center;
}

.heropanel img{
    background-color: red;
    width: 100vw;
    margin: 0px;
    filter: brightness(50%);
}

.heropanel h1{
    margin: 135px 0px;
    position: absolute;
    text-align: center;
    width:100%;
    font-size: 24px;
    color: white;
    z-index: 1;
}

.peticiones{ 
    width: 100vw;
    font-size: 18px;
    color: white;   
    margin: 0px;    
    height: 50px;
    background-color: #1fbfb8;
}

.peticiones h2{    
    margin-top: 8px;
    vertical-align: middle;
}

.texto-peticiones{    
    margin: 40px 22px 25px;
    color: red;
    font-size: 18px;
}

.texto-peticiones p{
    color: black;
    text-align: left;
}

.btnpeticion{
    border: none;
    width: 232px;
    height: 38px;
    font-size: 18px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: white;
    margin: 0px auto 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    text-align: center;
    cursor: pointer;
}

.bg-modal{    
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}



.modal-content{
    width: 350px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
}

.modal-content .titulo{
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.formulario-peticion{    
    text-align: left;
    margin: 0px 16px;
}

.formulario-peticion strong{
    color: red;
}

.formulario-peticion div{
    margin: 25px 0px 0px;
}

.formulario-peticion label, .formulario-peticion fieldset{    
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.formulario-peticion input[type=text], input[type=email]{
    border: 2px solid black;
    width: 100%;
    padding: auto 0px;
    margin: 8px 0;
    font-size: 18px;
}

.formulario-peticion .radiobuttons{
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;    
}

.formulario-peticion .edad input{    
    padding: 0px;
    margin: 0px;
}

.formulario-peticion #txtMensaje{
    padding: 0px 0px 80px;
}

.formulario-peticion textarea{
    border: 2px solid black;
    width: 100%;
    resize: none;
}

.botonespeticion{    
    padding: 10px 0px 0px;
    display: flex;
}

.btnenviarpeticion{
    float: left;    
    border: none;
    width: 170px;
    height: 38px;
    font-size: 16px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: white;
    margin: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    text-align: center;
    cursor: pointer;
}

.btncancelarpeticion{
    float: right;
    border: none;
    margin: 0px 0px 0px 30px;
    font-size: 16px;
    height: 38px;
    background-color: transparent;
    color: black;        
    text-align: center;
    cursor: pointer;
}

.testimonios{ 
    width: 100vw;
    font-size: 18px;
    color: white;   
    margin: 0px;    
    height: 50px;
    background-color: #1fbfb8;
}

.testimonios h2{    
    margin-top: 8px;
    vertical-align: middle;
}

.texto-testimonios{   
    margin: 40px 22px 25px 22px;  
    color: red;
    font-size: 18px;
}

.texto-testimonios p{
    color: black;
    text-align: left;
}

.btntestimonio{
    border: none;
    width: 232px;
    height: 38px;
    font-size: 18px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: white;
    margin: 0px auto 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    cursor: pointer;
}

.publicaciones{ 
    width: 100vw;
    font-size: 18px;
    color: white;   
    margin: 0px;    
    height: 50px;
    background-color: #1fbfb8;
}

.publicaciones h2{    
    margin-top: 8px;
    vertical-align: middle;
}

.CardHolder{
    margin-bottom: 40px;
}

.Card{
    position: relative;
    background-color: #fff;
    padding: 1rem;
    border:1px solid black;
    width: 307px;
    height: 364px;
    margin: 40px auto 0px auto;    
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;

  }

.Card p{
    text-align: left;
    color: black;
}
  
.Card .CardHeader{
    display: flex;
    margin: -1rem 0px 1rem -1rem;
    width:calc(100% + 2rem);
    background-color: #1fbfb8;
    color: white;
    padding: 1rem;
}
 
.Card .corazon{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 10px 0px;
}

.Card .corazon p{
    font-size: 12px;
}
  
.Card .corazonsvg:hover{
    cursor: pointer;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}