*, *::after, *::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.heropanel{
    display: flex;
    margin: 0px;       
    align-items: center;
    justify-content: center;
}

.heropanel img{
    background-color: red;
    width: 100vw;
    margin: 0px;
    filter: brightness(50%);
}

.heropanel h1{
    margin: 135px 0px;
    position: absolute;
    text-align: center;
    width:100%;
    font-size: 24px;
    color: white;
    z-index: 1;
}

.subtitulo{ 
    display: flex;
    width: 100vw;
    font-size: 18px;
    color: white;   
    margin: 0px;    
    height: 50px;
    background-color: #1fbfb8;
    text-align: center;
    justify-content: center;        
}

.subtitulo h2{         
    margin: auto 0px;
    vertical-align: middle;
    
}

.texto{    
    margin: 40px 22px 40px;    
    font-size: 18px;
}

.texto p{
    color: black;
    text-align: left;
}

.boton{
    border: none;
    width: 232px;
    height: 38px;
    font-size: 18px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: white;
    margin: 40px auto 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    text-align: center;
    cursor: pointer;
}

.bg-modal{    
    display: none;
    position: fixed;
    z-index: 100; 
    left: 0;
    top: 0;    
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);     
}

#bg-modal-testimonio{
    display: none;
}

#bg-modal-peticion{
    display: none;
}

.modal-content{
    margin: auto auto;
    width: 350px;
    height: 675px;
    background-color: white;
    border-radius: 20px;
}

#modal-content-testimonio{
    margin: auto auto;
    width: 350px;
    height: 620px;
    background-color: white;
    border-radius: 20px;
}

.modal-content .titulo{
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.formulario-peticion{    
    text-align: left;
    margin: 0px 16px;
}

.formulario-peticion strong{
    color: red;
}

.formulario-peticion div{
    margin: 25px 0px 0px;
}

.formulario-peticion label, .formulario-peticion fieldset{    
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.formulario-peticion input[type=text], input[type=email]{
    border: 2px solid black;
    width: 100%;
    padding: auto 0px;
    margin: 8px 0;
    font-size: 18px;
}

.formulario-peticion .radiobuttons{
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;    
}

.formulario-peticion .edad input{    
    padding: 0px;
    margin: 0px;
}

.formulario-peticion #txtMensaje{
    padding: 0px 0px 80px;
}

.formulario-peticion textarea{
    border: 2px solid black;
    width: 100%;
    resize: none;
}

.formulario-peticion section{
    font-size: 16px;
    color: red;
    margin: 0px;
}

.botonespeticion{    
    padding: 10px 0px 0px;
    display: flex;
}

.btnenviarpeticion{
    float: left;    
    border: none;
    width: 170px;
    height: 38px;
    font-size: 16px;
    background-color: #1fbfb8;
    border-radius: 20px;
    color: white;
    margin: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    text-align: center;
    cursor: pointer;
}

#bg-modal-testimonio .btnenviarpeticion{
    width: 180px;
}

.btncancelarpeticion{
    float: right;
    border: none;
    margin: 0px 0px 0px 30px;
    font-size: 16px;
    height: 38px;
    background-color: transparent;
    color: black;        
    text-align: center;
    cursor: pointer;
}


.CardHolder{
    margin-bottom: 40px;
}

.Card{
    position: relative;
    background-color: #fff;
    padding: 1rem;
    border:1px solid black;
    width: 307px;
    height: 364px;
    margin: 40px auto 0px auto;    
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

}

.Card p{
    text-align: left;
    color: black;
}
  
.Card .CardHeader{
    display: flex;
    margin: -1rem 0px 1rem -1rem;
    width:calc(100% + 2rem);
    background-color: #1fbfb8;
    color: white;
    padding: 1rem;
}
 
.Card .corazon{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 10px 0px;
}

.Card .corazon p{
    font-size: 12px;
}
  
.Card .corazonsvg:hover{
    cursor: pointer;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

@media(min-width:700px){
    .CardHolder{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width:900px){
    .CardHolder{
        display: flex;
        flex-wrap: nowrap;
    }
}

@media(min-width:1024px){

    .heropanel h1{
        font-size: 48px;
    }

    .texto{
        display: grid;
        background: rgba(31, 191, 184, 0.2);
        border: 1px solid black;        
        border-radius: 20px;
        margin: 40px 80px;
    }

    .texto p:nth-child(1){
        text-align: center;
        margin: 40px 0px 0px 100px;
        grid-column: 1;
        grid-row: 1;
    }

    .texto p:nth-child(3){
        text-align: center;
        margin: 40px 100px 0px 0px;
        grid-column: 3;
        grid-row: 1;
    }

    .texto p:nth-child(5){
        text-align: center;
        margin: 40px 0px 0px;
        grid-column: 2;
        grid-row: 2;
    }

    .texto .boton{
        margin: 40px auto;
        grid-column: 2;
        grid-row: 3;
    }

    .texto #botontestimonio{        
        margin: 40px 20px 40px auto;
        grid-column: 2;
        grid-row: 3;
    }

    .CardHolder{
        display: flex;
    }
}